table {
  border-color: #e0e0e0;
  width: 26% !important;
}

#thead {
  background-color: #d6ecfe;
}

th {
  color: #808080;
}

#ticket,
#priority {
  cursor: pointer;
}

#button {
  border: 0px;
  padding: 1px;
  background-color: #c0c0c0;
  margin-top: -11px;
  border-radius: 0 !important;
  color: black;
}

.low {
  background-color: #84ee95 !important;
}

.high {
  background-color: #ff021c !important;
}

.neutral {
  background-color: #d3d3d3 !important;
}

.message {
  color: #939393;
}
